html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

canvas {
    display: block;
}

div {
    background-color: black;
    color: white;
    width: 600px;
    font-size:20px;
    text-align:center;
}