main {
    background-color: black;
    color: white;
    width: 600px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-top: -10px;
    padding-top: 5px;
}

#score {
    padding-right: 25px;
}

body {
    display: flex;
}

#inputs {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 200px;
}